.hero-section {
  color: black;
  margin-top: 0px;
  display: flex;
}

.hero-pic {
  margin-left: 50px;
  margin-right: 20px;
}

.hero-pic-img {
  width: 500px;
}

.hero-intro {
  margin-top: 40px;
}

.hero-btns {
  display: flex;
  margin-top: 20px;
}

.services---btn {
  margin-top: 0px;
  background-color: #00a967;
  color: white;
  height: 50px;
  width: 100%px;
  border: none;
}

.register---btn {
  margin-top: 0px;
  background-color: #00a967;
  color: white;
  height: 50px;
  width: 100%px;
  border: none;
}
@media (min-width: 768px) {
  .hero-section {
    color: black;
    align-content: center;
    margin-top: 60px;
    display: flex;
  }
  .hero-section h1 {
    font-size: 40px;
  }

  .hero-section p {
    font-size: 18px;
  }
}
