/* .Acard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.Acard {
  width: 200%;
  height: 15px;
  background-color: white;
  padding: 18px;
  margin-bottom: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: start;
  align-items: center;
}

.Acard--items {
  display: flex;
  justify-content: space-between;
}

.card-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */

/* Card.css */
.card {
  display: flex;
  height: 15px;
  width: 200%;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.number {
  margin-right: 10px;
}

.name {
  flex-grow: 1;
  margin-right: 10px;
}

.icons {
  display: flex;
}

.icon {
  margin-right: 5px;
  cursor: pointer;
}

.delete-icon {
  color: red;
}

.menu-icon {
  color: blue;
}
