/* .service {
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.service:active {
  opacity: 1;
  transform: translateX(0);
} */

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap");

.services {
  margin-bottom: 100px;
}
.services-title-header {
  font-family: "Anton", sans-serif;
  font-size: 80px;
}
.services-title {
  text-align: center;
  justify-content: space-between;
  padding-top: 40px;
  /* padding-left: 30px; */
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 40px;
  font-family: "Anton", sans-serif;
}

.s-span {
  color: black;
}

.services--card-items {
  display: flex;
}
