@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=M+PLUS+Code+Latin&display=swap");

* {
  margin-left: 10px;
}

body {
  background-color: #f9f9f9;
}

.logo {
  color: #00a967;
  margin-left: 33px;
  font-family: "Dancing Script";
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  left: 0;
  right: 0;
  z-index: 9999;
}

.menu-lists {
  list-style: none;
  display: flex;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: #00a967;
}

.links {
  text-decoration: none;
  color: #00a967;
}

li a {
  text-decoration: none;
  color: #00a967;
}

/* mobile device */
/* @media (max-width: 767px) {
  .logo {
    color: orange;
  }
} */

/* dektop version */
/* @media (min-width: 768px) {
} */
