@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=M+PLUS+Code+Latin&display=swap");

.logo {
  color: #00a967;
  margin-left: 33px;
  font-family: "Dancing Script";
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  left: 0;
  right: 0;
  z-index: 9999;
}

.menu-lists {
  list-style: none;
  display: flex;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: #00a967;
}

.links {
  text-decoration: none;
  color: #00a967;
}

li a {
  text-decoration: none;
  color: #00a967;
}

.dropdown-menu {
  position: absolute;
  top: 100px;
  right: 120px;
  background-color: rgb(229, 240, 229);
  border-radius: 10px;
  padding: 10px 20px;
  width: 350px;
  height: 350px;
}

.dropdown-menu ul li {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a {
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.dropdown-menu hr {
  width: 39%;
}

.dropdown-menu h2 {
  color: black;
}

.dropdownItem p {
  color: black;
  font-weight: 300;
}

.menu-trigger {
  cursor: pointer;
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.messages {
  display: flex;
  align-items: center;
}

.messages img {
  width: 15%;
  justify-content: center;
  display: inline;
}
/* mobile device */
/* @media (max-width: 767px) {
  .logo {
    color: orange;
  }
} */

/* dektop version */
/* @media (min-width: 768px) {
} */
