.form-container {
  max-width: 600px;
  margin-top: 100px;
  margin-left: 200px;
  padding: 50px 100px;
  padding-right: 150px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container span {
  font-weight: bold;
  font-size: 18px;
}
.form-description {
  margin-bottom: 20px;
  margin-left: 10px;
}

.form-sections {
  display: flex;
  gap: 50px;
  padding-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: 400;
}

.section-label {
  margin-bottom: 10px;
  font-weight: bold;
}

.bdate-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

.bdate-input:focus {
  outline: none;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus {
  outline: none;
}

.form-group-birth {
  display: inline;
}

.btn-sections {
  margin-top: 20px;
}

.schedule-notifier {
  padding: 20px;
  font-size: 20px;
  font-style: italic;
}

.submit-btn {
  padding: 10px 20px;
  width: 100px;
  margin-left: 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.reset-btn {
  padding: 10px 20px;
  width: 100px;
  margin-left: 20px;
  background-color: rgb(219, 149, 18);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #45a049;
}
