* {
  margin-left: 10px;
}

body {
  background-color: #f9f9f9;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 2.2em;
  font-size: 1em;
  font-weight: var(--fw-bold);
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  letter-spacing: 2px;
}
button:hover {
  border-color: #646cff;
  transform: scale(1.1);
}

button:focus {
  outline: none;
  outline-offset: 3px;
}

html {
  scroll-behavior: smooth;
}
